<?xml version="1.0"?>
<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="true"
        processIsolation="true"
        backupGlobals="false"
        syntaxCheck="true"
        >
    <testsuite name="sample tests">
        <directory>./test</directory>
    </testsuite>
</phpunit>
